@use "mixins";
@use "variables";
@use "tailwindcss";

html {
  font-family: Lora, serif;
  -moz-osx-font-smoothing: grayscale;
  min-width: 0;
  min-height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100dvh;
  background-position: 15%;
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: rgba(209, 205, 190, 0.65);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
main {
  display: flex;
  flex-direction: columm;
  width: 100dvw;
  min-height: 100%;
  //avoud scrollbar because of background image
  overflow-x: hidden;
}
.bg-layer {
  position: fixed;
  inset: 0;
  background: url("/src/assets/images/background-collage.png") center/cover
    no-repeat;
  z-index: -1;
  opacity: 0.7;
}
body {
  line-height: 1.75;
}
p {
  font-size: 16px;
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
  letter-spacing: -7px;
  line-height: 1.25;
}

header nav {
  border-bottom: 2px solid black;
}

nav nav > ul,
nav > ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.icons {
  grid-area: icons;
  display: flex;
  gap: 1em;
  align-items: start;
  justify-content: end;
  height: 2rem;
}

button {
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-container .overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 141, 123, 0.925);
  z-index: 1;
}

// Layout
.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50% min-content min-content;
  grid-template-areas:
    "title . ."
    "icons . ."
    ". info info"
    ". . ."
    ". description ."
    ". projects projects";
  row-gap: 1em;

  @media (max-width: 768px) {
    padding: 1em;
    grid-template-rows: 50% min-content min-content min-content min-content min-content;
  }
}

.title {
  grid-area: title;
  font-family: JetBrains Mono, monospace;
  align-self: end;
  text-align: end;
  letter-spacing: -5px;
}
.description {
  grid-area: description;
}

.info {
  grid-area: info;
  // font-family: JetBrains Mono, monospace;
}

.projects {
  grid-area: projects;
  align-content: center;
}
